@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    overflow: hidden;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.latar-belakang {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.container {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 400px;
    position: relative;
    z-index: 1;
}

.huruf {
    letter-spacing: 5px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    width: 100%;
    padding: 12px;
    margin: 5px 0px;
    border: none;
    outline: none;
    border-radius: 8px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 18px;
    color: white;
    background-color: transparent;
}

.huruf::placeholder {
    color: #f4f56b;
    font-family: Arial, Helvetica, sans-serif;
}

.huruf:hover {
    outline: auto;
}

.huruf:focus {
    outline: none;
}

.garis {
    width: 100%;
    height: 3px;
    background-color: white;
    margin-right: 10px;
}

.lines {
    display: flex;
    align-items: center;
}

.hasil {
    padding: 5px 10px;
    border: none;
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.hasil:hover {
    background-color: #23c6ff;
    font-size: 24px;
}
h1 {
    margin-bottom: 20px;
    text-align: center;
    color: white;
    font-size: 34px;
}

.jawaban {
    margin-top: 20px;
    border: none;
    border-radius: 15px;
    padding: 10px;
    background-color: rgba(32, 31, 31, 0.357);
}

.jawab {
    letter-spacing: 5px;
    font-size: 18px;
    font-weight: bold;
    margin: 8px;
    color: rgba(255, 242, 95, 1);
}

.nothing {
    color: red;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

.hidden {
    display: none;
}

.loading {
    margin-top: 20px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #f4f56b;
    text-align: center;
}

.spiner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top: 4px solid #f4f56b;
    margin: 0 auto;
    width: 40px;
    height: 40px;
    -webkit-animation: load 1s linear infinite;
    animation: load 1s linear infinite;
}

@keyframes load {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}